<h2>Bienvenido a Movie Lovers!!</h2>
<hr>
<h3>Elige una película para jugar:</h3>
<form action='/search_movie' method="POST">
    <label for="movie_name"></label>
    <input type="text" id="movie_name" name="movie" placeholder="Película">
    <button type="submit">Search</button>
</form>